.titlePage{
    font-size: 10rem;
}
.textPage{
    font-size: 2rem;
}
.svg{
    width: 160px;
  height: 160px;
}
.svgContainer{
position: relative;
display: inline-block;
}
.svgContainer::after{
    content: '';
position: absolute;
left: 0;
bottom: 0;
background-color: #FA941C;
width: 20px;
height: 20px;
border-radius: 50%;
animation: alternate showhide 3s ease-in-out infinite;
}
.svgContainer::before{
    content: '';
position: absolute;
right: 0;
top: 0;
background-color: #F95300;
width: 20px;
height: 20px;
border-radius: 50%;
animation: alternate updomn 3s ease-in-out infinite;
}

@keyframes updomn {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
        box-shadow: 1px 2px 5px #dbdbdb;
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes showhide {
    0%{
        opacity: .2;
    }
    50%{
        opacity: .5 ;
    }
    100%{
        opacity: 1;
    }
}