.header {
  height: 70vh;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.13)
  );
  z-index: 1;
}

.content {
  width: 65%;
  z-index: 2; /* فوق الـ overlay */
}


  @media screen and (max-width: 1200px) {
    .content {
      width: 95%;
    }   
    .header {
  height: 100vh;
}

    
  }

  .sectionParagraph{
   color:#fff;
background-color:#f9530012;
border: 1px solid var(--main-color);
    padding: 25px 20px;
    border-radius: 1rem;
    font-weight: lighter;
    font-size: 1.2rem;
  }